<ul>
  <% @tasks.each do |task| %>
    <div>
      <li><%= link_to "#{task.title}", "tasks/#{task.id}" %></li>
      <li><%= check_box("task", task.completed, {checked: task.completed}) %></li>
    </div>
  <% end %>
</ul>
